:root {
    --background-color: #121212;  /* Default background color for the body */
    --row-color: #444444;  /* Default color for table rows */
    --text-color: #E0E0E0;  /* Default text color */
    --header-color: #333333;
    --rowhover-color: #555555;
    --button-color: #5D2F8E;
}

html {
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

/* Apply the background color to the body */
body {
    height: 100%;
    background-color: var(--background-color);  /* Use the background color variable */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;  /* Allow the page to scroll */
}

/* Wraps the entire page's content */
.page-container {
    width: 100%;
    margin: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    margin-bottom: 20px;
}

/* Matches Section */
#matches-section {
    text-align: center;  /* Centers text horizontally */
    display: block;
    flex-direction: column;
    align-items: center;  /* Centers content horizontally */
    justify-content: center;  /* Centers content vertically (if needed) */
}

/* Centering the h1 and button */
#matches-section h1 {
    margin-bottom: 20px; /* Adds spacing between header and button */
}

#matches-section button {
    margin-top: 10px; /* Adds spacing above the button */
}

/* Match Section Styling */
#matches-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.match {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 20px;
    box-sizing: border-box;
    background-color: var(--row-color);
}

.match:hover {
    transform: scale(1.05);
    background-color: var(--rowhover-color);
}

.match-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.team-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-logo {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    object-fit: contain;
}

.status {
    font-weight: bold;
    font-size: 1.1rem;
    margin: 0 20px;
}

.column {
    width: 12%;
    text-align: center;
}

/* Button Styling */
button {
    background-color: var(--button-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover {
    background-color: #8d43dd;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Table headers and cells */
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

/* Apply the row color to all rows */
tr {
    background-color: var(--row-color);  /* Use the row color variable */
}

/* Players Section Styling */
#players-section {
    width: 100%;
    padding: 20px;
    background-color: var(--background-color);  /* Use the background color variable */
    display: flex;
    flex-direction: column;
    align-items: center;  /* This centers the content horizontally */
    justify-content: center; /* This ensures content is centered vertically if needed */
    text-align: center; /* This will center the h1 and other text */
}

/* Players Section Header */
#players-section h1 {
    font-size: 2rem;  /* Adjust the font size as needed */
    color: white;     /* Set the color to white (or any other color you prefer) */
    margin-bottom: 20px; /* Optional: Adds space below the header */
}

/* Player photo styling */
.player-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;  /* Smooth transition for scaling */
}

.player-photo:hover {
    transform: scale(1.5);  /* Enlarge the photo by 1.5 times */
}

/* No need to make the tables scrollable */
#players-container, #goalies-container {
    width: 100%;
}

/* Sticky header styling */
th {
    position: sticky;
    top: 0;
    z-index: 1; /* Ensure header stays on top */
    background-color: var(--header-color);
}
